@model SolvITSupport.Models.Priority

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Priority</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoRespostaSLA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoRespostaSLA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoResolucaoSLA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoResolucaoSLA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
